page-history {
    .header .toolbar .bar-buttons-md[end] {
        width: 50%;
    }
    
    .header .toolbar .searchbar-md {
        padding: 0px;
    }
    
    [padding] h2:first-child {
        margin-top: 0rem;
    }
}
