page-analysis {
    .chart {
        min-height: 300px;
    }
    
    div.spinner {
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        ion-spinner {
            width: 64px;
            height: 64px;
        }
    }
}
